<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Expo IT-COMM</title>

	<!-- Favicon -->
	<link rel="icon" href="./images/icon.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="./css/reveal.min.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
	<div class="reveal">
		<div class="slides">

			<!-- Step #1 -->
			<section>
				<h2>Insert Video</h2>
			</section>

			<!-- Step #2 -->
			<section>
				<div class="row">
					<div class="col-lg-6">
						<div class="carousel slide" data-interval="4000" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="./images/S40/demo1.png" height="492" width="912">
								</div>
								<div class="carousel-item">
									<img src="./images/S40/demo2.png" height="492" width="912">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="carousel slide" data-interval="3000" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div id="chart_1" style="height: 492px; width: 912px;"></div>
								</div>
								<div class="carousel-item">
									<img src="./images/S40/demo1.png" height="492" width="912">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="carousel slide" data-interval="5000" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div id="chart_2" style="height: 492px; width: 912px;"></div>
								</div>
								<div class="carousel-item">
									<img src="./images/S40/demo1.png" height="492" width="912">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="carousel slide" data-interval="4000" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="./images/S40/demo1.png" height="492" width="912">
								</div>
								<div class="carousel-item">
									<img src="./images/S40/demo2.png" height="492" width="912">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/head.min.js"></script>
	<script src="js/reveal.min.js"></script>
	<script src="js/revealConfig.min.js"></script>
	<script src="js/chartsConfig/echarts.min.js"></script>

	<!-- EChart #1 -->
	<script src="js/chartsConfig/Screen40_P3_C1.js"></script>

	<!-- EChart #2 -->
	<script src="js/chartsConfig/Screen40_P3_C2.js"></script>
</body>

</html>