<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Expo IT-COMM</title>

	<!-- Favicon -->
	<link rel="icon" href="./images/icon.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="./css/reveal.min.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
	<div class="reveal">
		<div class="slides">

			<!-- Step #1 -->
			<section>
				<h2>Insert Video</h2>
			</section>

			<!-- Step #2 -->
			<section>
				<div class="row">
					<div class="col-lg-4">
						<div id="chart_1" style="height: 692px; width: 608px;"></div>
					</div>
					<div class="col-lg-4">
						<div id="chart_2" style="height: 692px; width: 608px;"></div>
					</div>
					<div class="col-lg-4">
						<div id="chart_3" style="height: 692px; width: 608px;"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="horse">
							<div class="box">
								<div class="carousel slide" data-interval="6000" data-ride="carousel">
									<div class="carousel-inner">
										<div class="carousel-item active">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
										<div class="carousel-item">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
										<div class="carousel-item">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
										<div class="carousel-item">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="horse">
							<div class="box">
								<div class="carousel slide" data-interval="6000" data-ride="carousel">
									<div class="carousel-inner">
										<div class="carousel-item active">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
										<div class="carousel-item">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
										<div class="carousel-item">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
										<div class="carousel-item">
											<h1>Generación Silent</h1>
											<h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/head.min.js"></script>
	<script src="js/reveal.min.js"></script>
	<script src="js/revealConfig.min.js"></script>
	<script src="js/chartsConfig/echarts.min.js"></script>

	<!-- EChart #1 -->
	<script src="js/chartsConfig/Screen50_P1_C1.js"></script>

	<!-- EChart #2 -->
	<script src="js/chartsConfig/Screen50_P1_C2.js"></script>

	<!-- EChart #3 -->
	<script src="js/chartsConfig/Screen50_P1_C3.js"></script>
</body>

</html>