<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Expo IT-COMM</title>

	<!-- Favicon -->
	<link rel="icon" href="./images/icon.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="./css/reveal.min.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<link rel="stylesheet" href="./css/particles.min.css">
</head>

<body>
	<div class="reveal">
		<div class="slides">

			<!-- Step #1 -->
			<section>
				<h2>Insert Video</h2>
			</section>

			<!-- Step #2 -->
			<section>
			    <div id="particles-js"></div>
				<div id="chart_1" style="height: 984px; width: 1824px;"></div>
			</section>
		</div>
	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/head.min.js"></script>
	<script src="js/reveal.min.js"></script>
	<script src="js/revealConfig.min.js"></script>
	<script src="js/chartsConfig/echarts.min.js"></script>
	<script src="js/particles.min.js"></script>
	<script src="js/particlesConfig.min.js"></script>

	<!-- EChart #1 -->
	<script src="js/chartsConfig/Screen50_P2_C1.js"></script>
</body>

</html>